<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title>Curso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="imagen">
    <img [src]="imagen" alt="{{ nombre }}" />
    <ion-card-header>
      <ion-card-title>{{ nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Descripción u otra información del curso aquí...</p>
    </ion-card-content>
  </ion-card>

  <div class="qr-container">
    <ion-button (click)="generarQR()" expand="block" color="secondary">Generar QR</ion-button>
  </div>

  <div class="qr-container" *ngIf="qrData">
    <qrcode [qrdata]="qrData" [width]="200"></qrcode>
  </div>

  <ion-text class="loading-text" *ngIf="!imagen">Cargando curso...</ion-text>
</ion-content>
