<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-uppercase ion-text-bold">Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="recovery-content">
  <ion-button color="medium" fill="clear" (click)="volver()">
    <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
  </ion-button>
  <div class="recovery-container">
    <h1 class="greeting-text">Recuperar Contraseña</h1>
  
    <ion-list>
      <ion-item>
        <ion-input
          [(ngModel)]="correo"
          label="Correo"
          labelPlacement="floating"
          placeholder="correo@gmail.com"
          required
        ></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="full" (click)="recuperarContrasena()">Recuperar</ion-button>
  </div>
</ion-content>
