
.login-box {
  background: rgba(255, 255, 255, 0.9); /* Fondo translúcido */
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  padding: 30px;
  margin: auto;
  text-align: center;
  margin-top: 40px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.login-box:hover {
  transform: translateY(-10px); /* Sutil animación al pasar el mouse */
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
}

.greeting-text {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #444;
}

.login-item {
  margin-bottom: 25px;
}

.login-btn {
  margin-top: 30px;
  background-color: #007bff; /* Cambiar color a un azul más vivo */
  color: white;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #0056b3; /* Efecto hover */
}

.recover-password {
  display: block;
  margin-top: 15px;
  cursor: pointer;
  color: var(--ion-color-secondary);
  font-size: 0.9em;
}

/* Fondo personalizado */
ion-content {
  --background: url('https://media.istockphoto.com/id/1353473723/es/foto/fondo-abstracto-de-movimiento-borroso-desenfocado-amarillo-y-naranja-soleado.jpg?s=612x612&w=0&k=20&c=szFbBBCrxvfx9E0AGDVBOP6F4gRSH6zliCQcKPxJKrE=') center center / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Centrado vertical */
}

/* Adaptabilidad para pantallas pequeñas */
@media (max-width: 600px) {
  .login-box {
    width: 90%;
    padding: 20px;
  }
}

/* Adaptabilidad para pantallas grandes */
@media (min-width: 1024px) {
  .login-box {
    max-width: 500px;
    margin-top: 100px;
  }
}