<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido: {{ username }}</ion-title>
    <ion-buttons slot="end">
      <!-- Botón de "Mi Perfil" -->
      <ion-button (click)="miperfil()">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>

      <!-- Botón de Logout -->
      <ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="card-container">
  <ion-card class="card-item" (click)="toggleSection('misCursos')">
    <ion-card-content>
      <ion-icon name="book-outline" class="card-icon"></ion-icon>
      <p class="card-label">Mis Cursos</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-item" (click)="toggleSection('matricularse')">
    <ion-card-content>
      <ion-icon name="add-circle-outline" class="card-icon"></ion-icon>
      <p class="card-label">Registrar Matrícula</p>
    </ion-card-content>
  </ion-card>
</div>

  

  <!-- Sección: Mis Cursos -->
  <div *ngIf="showMisCursos">
    <h2>Mis Cursos</h2>
    <div class="course-container">
      <ion-card class="custom-card" *ngFor="let curso of cursos">
        <ion-card-header>
          <ion-card-title class="card-title">{{ curso.nombre }}</ion-card-title>
          <img 
            src="{{ curso.imagen }}" 
            alt="{{ curso.nombre }}" 
            class="curso-imagen"
          />
          <p class="course-institucion">{{ curso.descripcion }}</p>
          <ion-button expand="full" color="primary" (click)="verHistorial(curso.id)">
            Historial
          </ion-button>
          <ion-button expand="full" color="danger" (click)="reportarInasistencia(curso.id)">
            Reportar Inasistencia
          </ion-button>
        </ion-card-header>
      </ion-card>
    </div>
  </div>

  <!-- Sección: Matricularse a un Curso -->
  <div *ngIf="showMatricularse">
    <h2>Matricularse a un Curso</h2>
    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input 
              [(ngModel)]="codigo_web" 
              required 
              label="Código de Curso" 
              labelPlacement="floating" 
              placeholder="Ingrese el código del curso"
            ></ion-input>
          </ion-item>
        </ion-list>
        <ion-button expand="full" color="secondary" (click)="asistirClase()">
          Matricularse
        </ion-button>
      </ion-card-content>
    </ion-card>
    <!-- Scanner -->
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button (click)="scan()">
        <ion-icon name="scan"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <div *ngIf="result">
      <p>Código escaneado: {{ result }}</p>
    </div>
  </div>
</ion-content>
