.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f4f4f4; 
}

.title-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 40px; 
}

.paw-logo {
    width: 50px; 
    height: auto; 
    margin-bottom: 10px; 
}

.title-wrapper {
    text-align: center;
    padding: 10px; 
    border-radius: 10px; 
    font-size: 24px; 
    color: white; 
}

.login-container {
    text-align: center;
    width: 90%;
    max-width: 400px; 
    margin: auto; 
}

.login-card {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between; 
    height: auto; 
    padding: 20px; 
}

.greeting-text {
    margin-bottom: 30px; 
    font-size: 20px; 
}

.login-button {
    border: 1px solid white; 
    padding: 10px; 
    background-color: white; 
    color: black; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Helvetica', sans-serif; 
    border-radius: 50px; 
}

.forgot-password {
    margin: 10px 0;
    font-size: 14px;
    cursor: pointer; 
}

.action-buttons {
    display: flex;
    justify-content: space-between; 
    margin-top: 40px; 
    width: 80%; 
}

.square-button {
    flex: 1; 
    margin: 0 10px; 
    height: 70px; 
    font-size: 16px; 
    border-radius: 10px; 
    color: black; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

ion-content {
    --background: url('https://media.istockphoto.com/id/1353473723/es/foto/fondo-abstracto-de-movimiento-borroso-desenfocado-amarillo-y-naranja-soleado.jpg?s=612x612&w=0&k=20&c=szFbBBCrxvfx9E0AGDVBOP6F4gRSH6zliCQcKPxJKrE=') 0 0 / 100% 100% no-repeat;
}

ion-title {
    margin: 0; 
}

@media (max-width: 768px) {
    .paw-logo {
        width: 40px; 
    }
    
    .title-container {
        font-size: 20px; 
    }

    .greeting-text {
        font-size: 18px; 
    }

    .login-button {
        font-size: 14px; 
        height: 45px; 
    }

    .square-button {
        height: 60px; 
        font-size: 14px; 
    }

    .action-buttons {
        flex-direction: row; 
    }

    .square-button {
        margin: 10px 0; 
    }
}

@media (max-width: 480px) {
    .login-card {
        padding: 10px; 
    }

    .login-button {
        width: 100%; 
    }
    
    .square-button {
        margin: 0 5px; 
    }
}

