<ion-content [fullscreen]="true" class="login-content">
  <div class="title-container">
    <img
      src="https://cdn-icons-png.freepik.com/512/7238/7238745.png"
      alt="Paw Logo"
      class="paw-logo"
    />
    <div class="title-wrapper">
      <ion-title class="ion-text-uppercase ion-text-bold">Popsipatitas Duoc</ion-title>
    </div>
  </div>

  <div class="login-container">
    <div class="login-card">
      <h1 class="greeting-text">Bienvenido</h1>

      <ion-button class="login-button" (click)="login()" fill="clear">
        Ingresar
      </ion-button>

      <!-- Botón de registro -->
      <ion-button class="register-button" (click)="navigateToRegister()" expand="full" color="secondary">
        Registrarse
      </ion-button>

      <!-- Iconos de redes sociales -->
      <div class="social-icons">
        <ion-icon name="logo-facebook" (click)="openUrl('https://www.facebook.com')"></ion-icon>
        <ion-icon name="logo-instagram" (click)="openUrl('https://www.instagram.com')"></ion-icon>
        <ion-icon name="logo-github" (click)="openUrl('https://www.github.com')"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
