.course-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.custom-card {
  width: 200px;
  height: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  justify-content: space-between;
  opacity: 88%;
}

.card-title {
  font-size: 18px;
  color: #333;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.course-sigla {
  font-size: 14px;
  color: #555;
  text-align: center;
}



.course-institucion {
  font-size: 12px;
  color: #777;
  text-align: center;
  margin-bottom: 10px;
}

ion-button {
  font-size: 14px;
  height: 35px;
  --border-radius: 8px;
  margin-top: auto;
}

ion-content {
  --background: url('https://media.istockphoto.com/id/1353473723/es/foto/fondo-abstracto-de-movimiento-borroso-desenfocado-amarillo-y-naranja-soleado.jpg?s=612x612&w=0&k=20&c=szFbBBCrxvfx9E0AGDVBOP6F4gRSH6zliCQcKPxJKrE=') 0 0 / 100% 100% no-repeat;
}

@media (max-width: 768px) {
  .custom-card {
    width: 200px;
    height: 300px;
  }

  .card-title {
    font-size: 14px;
  }

  ion-button {
    font-size: 13px;
    height: 35px;
  }
}
